.required:after {
    color: #FF3939;
    content: ' *';
}

form {
    width: 450px;
    height: 520px;
    border: solid #547FA5 2px;
    padding: 20px 40px 10px 20px;
}

.gender {
    margin: 0px 10px 0px 15px;
}

#image_upload {
    height: 30px;
    width: 120%;
}

.frames {
    color: black;
    border: solid #41719C 2px;
    height: 30px;
    width: 80%;
}

table {
    border-collapse: separate;
    border-spacing: 15px 15px;
}

label {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.green_background {
    color: aliceblue;
    background-color: #70AD47;
    width: 100px;
    padding: 0px 10px;
    border: solid #41719C 2px;
}

.blue-box {
    border: #41719C solid 2px;
    line-height: 20px;
    height: 30px;
    width: 130px;
}

.submit {
    background-color: #70AD47;
    color: aliceblue;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    width: 30%;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border: solid #41719C 2px;
    margin: 5% 0% 0% 40%;
}

.error {
    color: red;
    font-size: 14px;
    margin-left: 20px;
}